<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New cars</title>

</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
<div>
<!-- ?????? ID AUVTO ?????-->
<!--  <label for="id">id</label>-->
<!--  <input type="text" th:field="*{id}" id="id"/>-->
  </br>
  <label for="nomer">nomer</label>
  <input type="text" th:field="*{nomer}" id="nomer"/>
  </br>
  <label for="nameUs">nameUs</label>
  <input type="text" th:field="*{nameUs}" id="nameUs"/>
  <br>
  <label for="lastNameUs">lastNameUs</label>
  <input type="text"  th:field="*{lastNameUs}"  id="lastNameUs"/>
  <br>
  <input type="submit" value="Add User"/>
</div>
</form>

</body>
</html>