<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">nomer</th>
        <th scope="col">nameUs</th>
        <th scope="col">lastNameUs</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${listUsers}">
        <td th:text="${user.id}"/>
        <td th:text="${user.nomer}"/>
        <td th:text="${user.nameUs}"/>
        <td th:text="${user.lastNameUs}"/>
    </tr>

    </tbody>
</table>
<br/>
<hr/>
<a href="/users/new">Create new user</a>
<br/>
<hr/>

</body>
</html>